[Unit]
Description=service for weather.sh

[Service]
Type=simple
ExecStart=/home/vagrant/weather.sh
WorkingDirectory=/home/vagrant/weather
Restart=on-failure

[Install]
WantedBy=multi-user.target
